*{
	padding: 0;
	margin: 0;
	font-family: 'Vast Shadow', cursive;
}

body {
	/*background-color: red;*/

}
#main-section {
	background-color: gray;
}

section#main-section > a {
	color: white;
	text-decoration; none;
	padding: 15px;
	display: block;

}
a[href="https://github.com/avecillamartson13"] {
	position: absolute;
	top: 0;
	right: 0;
}

.about {
	width: 60%;
	/*margin: 0 auto;*/
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.my-picture {
	height: 150px;
	padding: 3px;
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: 5px;
}

h1 {
	color: #fff;
	font-size: 50px;

}

#portfolio-section {
	background-color: orange;
}

#skills-section {
	background-color: violet;
}

#about-section {
	background-color: green;
}

#main-section,
#portfolio-section,
#skills-section,
#about-section {
	height: 100vh;
}